In [1]:
import pandas as pd
import numpy as np

In [3]:
# loading the imdb_full_info_df and inflation_date
imdb_full_info_df = pd.read_csv('imdb_full_info_df.csv')
star_df = pd.read_csv('Star_score.csv', sep=';')

In [49]:
# removing comma in star's name
star_df['Star'] = star_df['Star'].str.replace(',','')

In [110]:
cast_1_score = []
cast_2_score = []
cast_3_score = []

In [111]:
# getting score for cast_1
for i in range(0, len(imdb_full_info_df)):
    year = int(imdb_full_info_df['release_date'][i][:4])
    df = star_df[star_df['Year']==year-1]
    filtering = df[df['Star']==imdb_full_info_df['cast_1'][i]]
    if (len(filtering) == 1):
        cast_1_score.append(int(filtering.Score))
    else:
        cast_1_score.append(0)

In [113]:
# getting score for cast_2
for i in range(0, len(imdb_full_info_df)):
    year = int(imdb_full_info_df['release_date'][i][:4])
    df = star_df[star_df['Year']==year-1]
    filtering = df[df['Star']==imdb_full_info_df['cast_2'][i]]
    if (len(filtering) == 1):
        cast_2_score.append(int(filtering.Score))
    else:
        cast_2_score.append(0)

In [114]:
# getting score for cast_3
for i in range(0, len(imdb_full_info_df)):
    year = int(imdb_full_info_df['release_date'][i][:4])
    df = star_df[star_df['Year']==year-1]
    filtering = df[df['Star']==imdb_full_info_df['cast_3'][i]]
    if (len(filtering) == 1):
        cast_3_score.append(int(filtering.Score))
    else:
        cast_3_score.append(0)

In [115]:
print(len(cast_1_score))
print(len(cast_2_score))
print(len(cast_3_score))

3314
3314
3314

In [122]:
# creating a dataframe for cast score
cast_score_df = pd.DataFrame(columns=['movie_title', 'cast_1_score', 'cast_2_score', 'cast_3_score'])
cast_score_df['movie_title'] = imdb_full_info_df['title']
cast_score_df['cast_1_score'] = cast_1_score
cast_score_df['cast_2_score'] = cast_2_score
cast_score_df['cast_3_score'] = cast_3_score

In [124]:
cast_score_df['cast_score'] = cast_score_df['cast_1_score'] + cast_score_df['cast_2_score'] + cast_score_df['cast_3_score']

In [125]:
cast_score_df

,movie_title,cast_1_score,cast_2_score,cast_3_score,cast_score
0,Avengers: Endgame,295,200,266,761
1,Pirates of the Caribbean: On Stranger Tides,260,48,0,308
2,Avengers: Age of Ultron,206,214,179,599
3,Star Wars Episode VII: The Force Awakens,0,0,0,0
4,Avengers: Infinity War,292,314,281,887
...,...,...,...,...,...
3309,Tucker & Dale vs. Evil,0,0,0,0
3310,Redacted,0,0,0,0
3311,Rudderless,0,0,0,0
3312,Mientras duermes,0,0,0,0
3313,Flying By,0,0,0,0