In [1]:
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter
import matplotlib.ticker as ticker
import seaborn as sns
%matplotlib inline
import pandas as pd
import numpy as np
import warnings

In [81]:
# loading the imdb_full_info_df
imdb_full_info_df = pd.read_csv('imdb_full_info_df.csv')

In [82]:
imdb_full_info_df.drop(columns=['release_date', 'domestic_gross', 'title', 'cast_1', 'cast_2', 'cast_3', 'movie_url', 'imdb_id', 'director', 'director.1','rating_check'], inplace=True)

In [85]:
# extracting runtime values
runtime = []
for i in imdb_full_info_df['runtime']:
    runtime.append(int(i[2:][:-2]))
    
imdb_full_info_df['runtime'] = runtime

In [83]:
# extracting genre
genre = []
for i in imdb_full_info_df['genre']:
    genre.append((i[2:][:-2]).replace("'",""))
    
imdb_full_info_df['genre'] = genre

In [86]:
imdb_full_info_df

,budget,worldwide_gross,imdb_rating,runtime,genre
0,400000000,2797800564,8.4,181,"Action, Adventure, Drama, Sci-Fi"
1,379000000,1045713802,6.6,137,"Action, Adventure, Fantasy"
2,365000000,1395316979,7.3,141,"Action, Adventure, Sci-Fi"
3,306000000,2064615817,7.9,138,"Action, Adventure, Sci-Fi"
4,300000000,2048359754,8.5,149,"Action, Adventure, Sci-Fi"
...,...,...,...,...,...
3309,5000000,5476793,7.5,89,"Comedy, Horror"
3310,5000000,861325,6.1,90,"Crime, Thriller, War"
3311,5000000,584499,7.4,105,"Comedy, Drama, Music"
3312,5000000,9109597,7.2,102,"Crime, Drama, Thriller"
3313,5000000,4568257,4.3,90,"Drama, Family, Music"

In [88]:
x = imdb_full_info_df['genre'][0]

In [97]:
for i in imdb_full_info_df['genre']:
x.split(',')[2]

' Drama'

In [98]:
x.count(',')

3

In [99]:
len(x)

32

In [102]:
genre_list = []
for i in imdb_full_info_df['genre']:
    genre_list.append(i)

In [106]:
genre_list[1]

'Action, Adventure, Fantasy'