In [260]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
from time import sleep
from random import randint
from datetime import datetime

In [261]:
# loading the data from The Numbers
the_numbers_df = pd.read_csv('The_Numbers_data_cleaned.csv')

In [262]:
the_numbers_df

,index,release_date,movie,budget,domestic_gross,worldwide_gross
0,1,4/23/2019,Avengers: Endgame,"400,000,000","858,373,000","2,797,800,564"
1,2,5/20/2011,Pirates of the Caribbean: On Stranger Tides,"379,000,000","241,071,802","1,045,713,802"
2,3,4/22/2015,Avengers: Age of Ultron,"365,000,000","459,005,868","1,395,316,979"
3,4,12/16/2015,Star Wars Episode VII: The Force Awakens,"306,000,000","936,662,225","2,064,615,817"
4,5,4/25/2018,Avengers: Infinity War,"300,000,000","678,815,482","2,048,359,754"
...,...,...,...,...,...,...
6222,6223,Unknown,Red 11,"7,000",0,0
6223,6224,4/2/1999,Following,"6,000","48,482","240,495"
6224,6225,7/13/2005,Return to the Land of Wonders,"5,000","1,338","1,338"
6225,6226,9/29/2015,A Plague So Pleasant,"1,400",0,0
6226,6227,8/5/2005,My Date With Drew,"1,100","181,041","181,041"

In [263]:
the_numbers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6227 entries, 0 to 6226
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            6227 non-null   int64
 1   release_date     6227 non-null   object
 2   movie            6227 non-null   object
 3   budget           6227 non-null   object
 4   domestic_gross   6227 non-null   object
 5   worldwide_gross  6227 non-null   object
dtypes: int64(1), object(5)
memory usage: 292.0+ KB

In [264]:
# finding the release year
year=[]

for i in range(0, len(the_numbers_df['release_date'])):
    try:
        year.append(int(the_numbers_df['release_date'][i][-4:]))
    except:
        year.append(0)

In [265]:
the_numbers_df['release_year'] = year

In [266]:
# finding the release month
month=[]

for i in range(0, len(the_numbers_df['release_date'])):
    try:
        month.append(int(the_numbers_df['release_date'][i].partition('/')[0]))
    except:
        month.append(0)

In [267]:
the_numbers_df['release_month'] = month

In [268]:
the_numbers_df

,index,release_date,movie,budget,domestic_gross,worldwide_gross,release_year,release_month
0,1,4/23/2019,Avengers: Endgame,"400,000,000","858,373,000","2,797,800,564",2019,4
1,2,5/20/2011,Pirates of the Caribbean: On Stranger Tides,"379,000,000","241,071,802","1,045,713,802",2011,5
2,3,4/22/2015,Avengers: Age of Ultron,"365,000,000","459,005,868","1,395,316,979",2015,4
3,4,12/16/2015,Star Wars Episode VII: The Force Awakens,"306,000,000","936,662,225","2,064,615,817",2015,12
4,5,4/25/2018,Avengers: Infinity War,"300,000,000","678,815,482","2,048,359,754",2018,4
...,...,...,...,...,...,...,...,...
6222,6223,Unknown,Red 11,"7,000",0,0,0,0
6223,6224,4/2/1999,Following,"6,000","48,482","240,495",1999,4
6224,6225,7/13/2005,Return to the Land of Wonders,"5,000","1,338","1,338",2005,7
6225,6226,9/29/2015,A Plague So Pleasant,"1,400",0,0,2015,9
6226,6227,8/5/2005,My Date With Drew,"1,100","181,041","181,041",2005,8

In [270]:
# 1. worldwide gross >= 500000
# 2. release date >= 2000 and not unknown
# 3. release date <= 2020 (pre-pandemic)

In [269]:
the_numbers_df[(the_numbers_df['release_year']>=2000) & (the_numbers_df['release_year']<2020)]

,index,release_date,movie,budget,domestic_gross,worldwide_gross,release_year,release_month
0,1,4/23/2019,Avengers: Endgame,"400,000,000","858,373,000","2,797,800,564",2019,4
1,2,5/20/2011,Pirates of the Caribbean: On Stranger Tides,"379,000,000","241,071,802","1,045,713,802",2011,5
2,3,4/22/2015,Avengers: Age of Ultron,"365,000,000","459,005,868","1,395,316,979",2015,4
3,4,12/16/2015,Star Wars Episode VII: The Force Awakens,"306,000,000","936,662,225","2,064,615,817",2015,12
4,5,4/25/2018,Avengers: Infinity War,"300,000,000","678,815,482","2,048,359,754",2018,4
...,...,...,...,...,...,...,...,...
6219,6220,10/8/2004,Primer,"7,000","424,760","841,926",2004,10
6220,6221,5/26/2006,Cavite,"7,000","70,071","71,644",2006,5
6224,6225,7/13/2005,Return to the Land of Wonders,"5,000","1,338","1,338",2005,7
6225,6226,9/29/2015,A Plague So Pleasant,"1,400",0,0,2015,9
6226,6227,8/5/2005,My Date With Drew,"1,100","181,041","181,041",2005,8

In [ ]:
imdb_rating = []
main_cast_1 = []
main_cast_2 = []
main_cast_3 = []

In [113]:
for i in range(10,100):
    # searching the movie on imdb
    search_url = 'https://www.imdb.com/search/title/?title='+the_numbers_df['movie'][i]+'&title_type=feature'
    response_search = requests.get(search_url)
    soup_search = BeautifulSoup(response_search.content, 'html.parser')
    
    # obtaining the movie page
    movie_url = 'http://imdb.com'+soup_search.select('h3 a')[0].get('href')
    response = requests.get(movie_url)
    soup = BeautifulSoup(response.content, 'html.parser')
 
    # adding rating to list
    try:
        rating = soup.select('span.AggregateRatingButton__RatingScore-sc-1ll29m0-1.iTLWoV')[0].get_text()
        imdb_rating.append(rating)
    except:
        imdb_rating.append(np.nan)
        
    # adding cast 1 to list
    try:
        cast1 = soup.select('div.PrincipalCredits__PrincipalCreditsPanelWideScreen-sc-hdn81t-0.hzbDAm> ul > li:nth-child(3) > div > ul > li:nth-child(1) > a')[0].get_text()
        main_cast_1.append(cast1)
    except:
        main_cast_1.append(np.nan)
        
    # adding cast 2 to list
    try:
        cast2 = soup.select('div.PrincipalCredits__PrincipalCreditsPanelWideScreen-sc-hdn81t-0.hzbDAm> ul > li:nth-child(3) > div > ul > li:nth-child(2) > a')[0].get_text()
        main_cast_2.append(cast2)
    except:
        main_cast_2.append(np.nan)
        
    # adding cast 3 to list
    try:
        cast3 = soup.select('div.PrincipalCredits__PrincipalCreditsPanelWideScreen-sc-hdn81t-0.hzbDAm> ul > li:nth-child(3) > div > ul > li:nth-child(3) > a')[0].get_text()
        main_cast_3.append(cast3)
    except:
        main_cast_3.append(np.nan)
    
    # adding sleep time
    wait_time = randint(1, 4)
    sleep(wait_time)

IndexError: list index out of range

In [107]:
imdb_rating

['8.4', '6.6', '7.3', '7.9', '8.5', '7.1', '8.1', '6.8', nan, '6.5']

In [110]:
main_cast_1

['Robert Downey Jr.',
 'Johnny Depp',
 'Robert Downey Jr.',
 'Daisy Ridley',
 'Robert Downey Jr.',
 'Johnny Depp',
 'Henry Cavill',
 'Daniel Craig',
 'Tom Cruise',
 'Daisy Ridley']

In [111]:
main_cast_2

['Chris Evans',
 'PenÃ©lope Cruz',
 'Chris Evans',
 'John Boyega',
 'Chris Hemsworth',
 'Orlando Bloom',
 'Ben Affleck',
 'Christoph Waltz',
 'Rebecca Ferguson',
 'John Boyega']

In [112]:
main_cast_3

['Mark Ruffalo',
 'Ian McShane',
 'Mark Ruffalo',
 'Oscar Isaac',
 'Mark Ruffalo',
 'Keira Knightley',
 'Gal Gadot',
 'LÃ©a Seydoux',
 'Hayley Atwell',
 'Oscar Isaac']