In [778]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
from time import sleep
from random import randint
from datetime import datetime
from pathlib import Path
from imdb import Cinemagoer

In [1232]:
# loading the data from The Numbers
the_numbers_df = pd.read_csv('The_Numbers_data_cleaned.csv')

In [1233]:
the_numbers_df

,index,release_date,movie,budget,domestic_gross,worldwide_gross
0,1,4/23/2019,Avengers: Endgame,"400,000,000","858,373,000","2,797,800,564"
1,2,5/20/2011,Pirates of the Caribbean: On Stranger Tides,"379,000,000","241,071,802","1,045,713,802"
2,3,4/22/2015,Avengers: Age of Ultron,"365,000,000","459,005,868","1,395,316,979"
3,4,12/16/2015,Star Wars Episode VII: The Force Awakens,"306,000,000","936,662,225","2,064,615,817"
4,5,4/25/2018,Avengers: Infinity War,"300,000,000","678,815,482","2,048,359,754"
...,...,...,...,...,...,...
6222,6223,Unknown,Red 11,"7,000",0,0
6223,6224,4/2/1999,Following,"6,000","48,482","240,495"
6224,6225,7/13/2005,Return to the Land of Wonders,"5,000","1,338","1,338"
6225,6226,9/29/2015,A Plague So Pleasant,"1,400",0,0
6226,6227,8/5/2005,My Date With Drew,"1,100","181,041","181,041"

In [1234]:
the_numbers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6227 entries, 0 to 6226
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            6227 non-null   int64
 1   release_date     6227 non-null   object
 2   movie            6227 non-null   object
 3   budget           6227 non-null   object
 4   domestic_gross   6227 non-null   object
 5   worldwide_gross  6227 non-null   object
dtypes: int64(1), object(5)
memory usage: 292.0+ KB

In [1235]:
# changing release_date to datetime
the_numbers_df['release_date'] = pd.to_datetime(the_numbers_df['release_date'], errors ='coerce')

In [1236]:
# converting columns to integer
the_numbers_df['budget'] = the_numbers_df['budget'].str.replace(',','').astype('int64')
the_numbers_df['domestic_gross'] = the_numbers_df['domestic_gross'].str.replace(',','').astype('int64')
the_numbers_df['worldwide_gross'] = the_numbers_df['worldwide_gross'].str.replace(',','').astype('int64')

In [1237]:
the_numbers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6227 entries, 0 to 6226
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            6227 non-null   int64
 1   release_date     6112 non-null   datetime64[ns]
 2   movie            6227 non-null   object
 3   budget           6227 non-null   int64
 4   domestic_gross   6227 non-null   int64
 5   worldwide_gross  6227 non-null   int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 292.0+ KB

In [1238]:
the_numbers_df.head()

,index,release_date,movie,budget,domestic_gross,worldwide_gross
0,1,2019-04-23,Avengers: Endgame,400000000,858373000,2797800564
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,379000000,241071802,1045713802
2,3,2015-04-22,Avengers: Age of Ultron,365000000,459005868,1395316979
3,4,2015-12-16,Star Wars Episode VII: The Force Awakens,306000000,936662225,2064615817
4,5,2018-04-25,Avengers: Infinity War,300000000,678815482,2048359754

In [1239]:
# dropping nulls
the_numbers_df.dropna(inplace=True)

In [1240]:
# filtering
# 1. release_date after 1999
# 2. release_date before 2020 (pre-pandemic)
# 3. worldwide_gross >= $500,000
# 4. budget >= $5,000,000 #(the_numbers_df['budget']>=5000000)
budget_df = the_numbers_df[(the_numbers_df['release_date']>='2000-01-01') & (the_numbers_df['release_date']<='2019-12-31') & (the_numbers_df['worldwide_gross']>=500000)]

In [1241]:
budget_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3811 entries, 0 to 6219
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            3811 non-null   int64
 1   release_date     3811 non-null   datetime64[ns]
 2   movie            3811 non-null   object
 3   budget           3811 non-null   int64
 4   domestic_gross   3811 non-null   int64
 5   worldwide_gross  3811 non-null   int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 208.4+ KB

In [1228]:
#budget_df.drop_duplicates(subset=['movie'],inplace=True)

C:\Users\Bosco\anaconda3\envs\DA_ENV\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [1242]:
# resetting index
budget_df.reset_index(inplace=True)

In [1243]:
# dropping index columns
budget_df.drop(['index', 'level_0'], axis=1, inplace=True)

C:\Users\Bosco\anaconda3\envs\DA_ENV\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [1244]:
budget_df

,release_date,movie,budget,domestic_gross,worldwide_gross
0,2019-04-23,Avengers: Endgame,400000000,858373000,2797800564
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,379000000,241071802,1045713802
2,2015-04-22,Avengers: Age of Ultron,365000000,459005868,1395316979
3,2015-12-16,Star Wars Episode VII: The Force Awakens,306000000,936662225,2064615817
4,2018-04-25,Avengers: Infinity War,300000000,678815482,2048359754
...,...,...,...,...,...
3806,2017-07-07,A Ghost Story,100000,1594798,2769782
3807,2004-05-07,Super Size Me,65000,11529368,22233808
3808,2001-03-16,Gabriela,50000,2335352,2335352
3809,2001-03-09,Dayereh,10000,673780,683509
3810,2004-10-08,Primer,7000,424760,841926

In [96]:
#imdb_rating = []
#main_cast_1 = []
#main_cast_2 = []
#main_cast_3 = []

In [242]:
# crawling imdb (1st attempt)
print(datetime.now())
for i in range(0,len(budget_df)):
    # searching the movie on imdb
    search_url = 'https://www.imdb.com/search/title/?title=' +str(budget_df['movie'][i])+ '&title_type=feature&release_date=' +str(budget_df['release_date'][i].year)+'-01-01,' +str(budget_df['release_date'][i].year)+ '-12-31'
    response_search = requests.get(search_url)
    soup_search = BeautifulSoup(response_search.content, 'html.parser')
    
    try:
        # obtaining the movie page
        movie_url = 'http://imdb.com'+soup_search.select('h3 a')[0].get('href')
        response = requests.get(movie_url)
        soup = BeautifulSoup(response.content, 'html.parser')

        # adding rating to list
        try:
            rating = soup.select('span.AggregateRatingButton__RatingScore-sc-1ll29m0-1.iTLWoV')[0].get_text()
            imdb_rating.append(rating)
        except:
            imdb_rating.append(np.nan)

        # adding cast 1 to list
        try:
            cast1 = soup.select('div.PrincipalCredits__PrincipalCreditsPanelWideScreen-sc-hdn81t-0.hzbDAm> ul > li:nth-child(3) > div > ul > li:nth-child(1) > a')[0].get_text()
            main_cast_1.append(cast1)
        except:
            main_cast_1.append(np.nan)

        # adding cast 2 to list
        try:
            cast2 = soup.select('div.PrincipalCredits__PrincipalCreditsPanelWideScreen-sc-hdn81t-0.hzbDAm> ul > li:nth-child(3) > div > ul > li:nth-child(2) > a')[0].get_text()
            main_cast_2.append(cast2)
        except:
            main_cast_2.append(np.nan)

        # adding cast 3 to list
        try:
            cast3 = soup.select('div.PrincipalCredits__PrincipalCreditsPanelWideScreen-sc-hdn81t-0.hzbDAm> ul > li:nth-child(3) > div > ul > li:nth-child(3) > a')[0].get_text()
            main_cast_3.append(cast3)
        except:
            main_cast_3.append(np.nan)
            
    except:
        imdb_rating.append(np.nan)
        main_cast_1.append(np.nan)
        main_cast_2.append(np.nan)
        main_cast_3.append(np.nan)
    
    # adding sleep time
    wait_time = 1
    sleep(wait_time)

print(datetime.now())

2022-03-04 09:00:52.530667
2022-03-04 09:32:20.828181

In [257]:
# creating a dataframe for crawled data
imdb_df = pd.DataFrame(columns=['title','imdb_rating','cast_1','cast_2','cast_3'])

In [258]:
# filling crawled data into the new dataframe
imdb_df['title'] = budget_df['movie']
imdb_df['imdb_rating'] = imdb_rating
imdb_df['cast_1'] = main_cast_1
imdb_df['cast_2'] = main_cast_2
imdb_df['cast_3'] = main_cast_3

In [260]:
imdb_df

,title,imdb_rating,cast_1,cast_2,cast_3
0,Avengers: Endgame,8.4,Robert Downey Jr.,Chris Evans,Mark Ruffalo
1,Pirates of the Caribbean: On Stranger Tides,6.6,Johnny Depp,PenÃ©lope Cruz,Ian McShane
2,Avengers: Age of Ultron,7.3,Robert Downey Jr.,Chris Evans,Mark Ruffalo
3,Star Wars Episode VII: The Force Awakens,7.9,Daisy Ridley,John Boyega,Oscar Isaac
4,Avengers: Infinity War,8.5,Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo
...,...,...,...,...,...
3806,A Ghost Story,6.8,Casey Affleck,Rooney Mara,McColm Cephas Jr.
3807,Super Size Me,NaN,NaN,NaN,NaN
3808,Gabriela,4.8,Jaime Gomez,Seidy Lopez,Zach Galligan
3809,Dayereh,NaN,NaN,NaN,NaN
3810,Primer,6.8,Shane Carruth,David Sullivan,Casey Gooden

In [261]:
# saving the initial imdb_df to a csv 
filepath = Path('imdb_df.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)
imdb_df.to_csv(filepath, index=False)

In [577]:
# loading the initial imdb_df 
imdb_df = pd.read_csv('imdb_df.csv')

In [80]:
# creating a dataframe for movies without data (1st attempt)
imdb_missing_df = imdb_df[imdb_df['imdb_rating'].isna()]

In [324]:
# creating a movie_url column with null values
movie_url = []
for i in range(0,len(imdb_missing_df)):
    movie_url.append(np.nan)
imdb_missing_df['movie_url'] = movie_url

C:\Users\Bosco\AppData\Local\Temp/ipykernel_25920/3302669621.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_missing_df['movie_url'] = movie_url

In [214]:
# extracting imdb_id for movies
ia = Cinemagoer()
imdb_id = []
for i in range(0, len(imdb_missing_df)):
    try:
        movie = ia.search_movie(imdb_missing_df['title'][i])[0]
        imdb_id.append('tt'+str(ia.get_imdbID(movie)))
    except:
        imdb_id.append(np.nan)

In [219]:
# updating movie_url based on imdb_id
for i in range(0, len(imdb_missing_df)):
    if type(imdb_missing_df['movie_url'][i]) == float:
        imdb_missing_df['movie_url'][i] = 'https://www.imdb.com/title/'+str(imdb_missing_df['imdb_id'][i])+'/'
    else:
        imdb_missing_df['movie_url'][i] = imdb_missing_df['movie_url'][i]

C:\Users\Bosco\AppData\Local\Temp/ipykernel_6700/2953825205.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_missing_df['movie_url'][i] = imdb_missing_df['movie_url'][i]
C:\Users\Bosco\AppData\Local\Temp/ipykernel_6700/2953825205.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_missing_df['movie_url'][i] = 'https://www.imdb.com/title/'+str(imdb_missing_df['imdb_id'][i])+'/'

In [330]:
# updating imdb_id after manually checking and correcting the movie_url
for i in range(0, len(imdb_missing_df)):
    imdb_missing_df['imdb_id'][i] = imdb_missing_df['movie_url'][i].partition('/title/')[-1].partition('/')[0]

C:\Users\Bosco\AppData\Local\Temp/ipykernel_6700/1545459044.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_missing_df['imdb_id'][i] = imdb_missing_df['movie_url'][i].partition('/title/')[-1].partition('/')[0]

In [386]:
# crawling imdb for missing data (2nd attempt)
print(datetime.now())
for i in range(0, len(imdb_missing_df)):
    response = requests.get(imdb_missing_df['movie_url'][i])
    soup = BeautifulSoup(response.content, 'html.parser')

    # adding rating to list
    try:
        imdb_missing_df['imdb_rating'][i] = soup.select('span.AggregateRatingButton__RatingScore-sc-1ll29m0-1.iTLWoV')[0].get_text()
    except:
        imdb_missing_df['imdb_rating'][i] = np.nan

    # adding cast 1 to list
    try:
        imdb_missing_df['cast_1'][i] = soup.select('div.PrincipalCredits__PrincipalCreditsPanelWideScreen-sc-hdn81t-0.hzbDAm> ul > li:nth-child(3) > div > ul > li:nth-child(1) > a')[0].get_text()
    except:
        imdb_missing_df['cast_1'][i] = np.nan

    # adding cast 2 to list
    try:
        imdb_missing_df['cast_2'][i] = soup.select('div.PrincipalCredits__PrincipalCreditsPanelWideScreen-sc-hdn81t-0.hzbDAm> ul > li:nth-child(3) > div > ul > li:nth-child(2) > a')[0].get_text()
    except:
        imdb_missing_df['cast_2'][i] = np.nan

    # adding cast 3 to list
    try:
        imdb_missing_df['cast_3'][i] = soup.select('div.PrincipalCredits__PrincipalCreditsPanelWideScreen-sc-hdn81t-0.hzbDAm> ul > li:nth-child(3) > div > ul > li:nth-child(3) > a')[0].get_text()
    except:
        imdb_missing_df['cast_3'][i] = np.nan

    # adding sleep time
    wait_time = 1
    sleep(wait_time)

print(datetime.now())

2022-03-06 15:42:15.498751

C:\Users\Bosco\AppData\Local\Temp/ipykernel_6700/1083288268.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_missing_df['imdb_rating'][i] = soup.select('span.AggregateRatingButton__RatingScore-sc-1ll29m0-1.iTLWoV')[0].get_text()
C:\Users\Bosco\AppData\Local\Temp/ipykernel_6700/1083288268.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_missing_df['cast_1'][i] = soup.select('div.PrincipalCredits__PrincipalCreditsPanelWideScreen-sc-hdn81t-0.hzbDAm> ul > li:nth-child(3) > div > ul > li:nth-child(1) > a')[0].get_text()
C:\Users\Bosco\AppData\Local\Temp/ipykernel_6700/1083288268.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_missing_df['cast_2'][i] = soup.select('div.PrincipalCredits__PrincipalCreditsPanelWideScreen-sc-hdn81t-0.hzbDAm> ul > li:nth-child(3) > div > ul > li:nth-child(2) > a')[0].get_text()
C:\Users\Bosco\AppData\Local\Temp/ipykernel_6700/1083288268.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_missing_df['cast_3'][i] = soup.select('div.PrincipalCredits__PrincipalCreditsPanelWideScreen-sc-hdn81t-0.hzbDAm> ul > li:nth-child(3) > div > ul > li:nth-child(3) > a')[0].get_text()
C:\Users\Bosco\AppData\Local\Temp/ipykernel_6700/1083288268.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_missing_df['cast_1'][i] = np.nan
C:\Users\Bosco\AppData\Local\Temp/ipykernel_6700/1083288268.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_missing_df['cast_2'][i] = np.nan
C:\Users\Bosco\AppData\Local\Temp/ipykernel_6700/1083288268.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_missing_df['cast_3'][i] = np.nan

2022-03-06 16:41:10.595930

In [550]:
# creating a dataframe for movies without data (2nd attempt)
imdb_missing_df2 = imdb_missing_df[imdb_missing_df['cast_1'].isna()]
imdb_missing_df2

,title,imdb_rating,cast_1,cast_2,cast_3,movie_url,imdb_id
35,Michael Jackson's This Is It,7.3,NaN,NaN,NaN,https://www.imdb.com/title/tt1477715/,tt1477715
137,Shi Yue Wei Cheng,8.4,NaN,NaN,NaN,https://www.imdb.com/title/tt1403130/,tt4559518
200,U2 3D,8.4,NaN,NaN,NaN,https://www.imdb.com/title/tt0892375/,tt0892375
227,Justin Bieber: Never Say Never,1.7,NaN,NaN,NaN,https://www.imdb.com/title/tt1702443/,tt1702443
240,Katy Perry: Part of Me,5.9,NaN,NaN,NaN,https://www.imdb.com/title/tt2215719/,tt2215719
282,Hillsong: Let Hope Rise,6.4,NaN,NaN,NaN,https://www.imdb.com/title/tt3850544/,tt3850544
468,Meet the Mormons,6.8,NaN,NaN,NaN,https://www.imdb.com/title/tt4003774/,tt4003774
478,In the Shadow of the Moon,8.0,NaN,NaN,NaN,https://www.imdb.com/title/tt0925248/,tt0925248
504,The Gatekeepers,7.6,NaN,NaN,NaN,https://www.imdb.com/title/tt2309788/,tt2309788
528,Shine a Light,7.1,NaN,NaN,NaN,https://www.imdb.com/title/tt0893382/,tt0893382
539,The Act of Killing,8.2,NaN,NaN,NaN,https://www.imdb.com/title/tt2375605/,tt2375605
556,Rize,7.1,NaN,NaN,NaN,https://www.imdb.com/title/tt0436724/,tt0436724
569,Twenty-Two,7.4,NaN,NaN,NaN,https://www.imdb.com/title/tt3843282/,tt3843282
575,Tupac Resurrection,7.9,NaN,NaN,NaN,https://www.imdb.com/title/tt0343121/,tt0343121

In [563]:
# crawling imdb for missing data (3rd attempt)
print(datetime.now())
for i in range(0, len(imdb_missing_df2)):
    response = requests.get(imdb_missing_df2['movie_url'].iloc[i])
    soup = BeautifulSoup(response.content, 'html.parser')

    # adding cast 1 to list
    try:
        imdb_missing_df2['cast_1'].iloc[i] = soup.select('div.PrincipalCredits__PrincipalCreditsPanelWideScreen-sc-hdn81t-0.hzbDAm > ul > li.ipc-metadata-list__item.ipc-metadata-list-item--link > div > ul > li:nth-child(1) > a')[0].get_text()
    except:
        imdb_missing_df2['cast_1'].iloc[i] = np.nan

    # adding cast 2 to list
    try:
        imdb_missing_df2['cast_2'].iloc[i] = soup.select('div.PrincipalCredits__PrincipalCreditsPanelWideScreen-sc-hdn81t-0.hzbDAm > ul > li.ipc-metadata-list__item.ipc-metadata-list-item--link > div > ul > li:nth-child(2) > a')[0].get_text()
    except:
        imdb_missing_df2['cast_2'].iloc[i] = np.nan

    # adding cast 3 to list
    try:
        imdb_missing_df2['cast_3'].iloc[i] = soup.select('div.PrincipalCredits__PrincipalCreditsPanelWideScreen-sc-hdn81t-0.hzbDAm > ul > li.ipc-metadata-list__item.ipc-metadata-list-item--link > div > ul > li:nth-child(3) > a')[0].get_text()
    except:
        imdb_missing_df2['cast_3'].iloc[i] = np.nan

    # adding sleep time
    wait_time = 1
    sleep(wait_time)

print(datetime.now())

2022-03-06 18:09:25.094437
2022-03-06 18:10:38.709188

In [567]:
# substituting missing values in imdb_missing_df from imdb_missing_df2
index = imdb_missing_df[imdb_missing_df['cast_1'].isna()].index
for i in range(0, len(imdb_missing_df2)):    
    imdb_missing_df[index[i]:index[i]+1]['imdb_rating'] = imdb_missing_df2['imdb_rating'].iloc[i]
    imdb_missing_df[index[i]:index[i]+1]['cast_1'] = imdb_missing_df2['cast_1'].iloc[i]
    imdb_missing_df[index[i]:index[i]+1]['cast_2'] = imdb_missing_df2['cast_2'].iloc[i]
    imdb_missing_df[index[i]:index[i]+1]['cast_3'] = imdb_missing_df2['cast_3'].iloc[i]

C:\Users\Bosco\AppData\Local\Temp/ipykernel_6700/2299578141.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_missing_df[index[i]:index[i]+1]['imdb_rating'] = imdb_missing_df2['imdb_rating'].iloc[i]
C:\Users\Bosco\AppData\Local\Temp/ipykernel_6700/2299578141.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_missing_df[index[i]:index[i]+1]['cast_1'] = imdb_missing_df2['cast_1'].iloc[i]
C:\Users\Bosco\AppData\Local\Temp/ipykernel_6700/2299578141.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_missing_df[index[i]:index[i]+1]['cast_2'] = imdb_missing_df2['cast_2'].iloc[i]
C:\Users\Bosco\AppData\Local\Temp/ipykernel_6700/2299578141.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_missing_df[index[i]:index[i]+1]['cast_3'] = imdb_missing_df2['cast_3'].iloc[i]

In [569]:
imdb_missing_df.isna().sum()

title          0
imdb_rating    0
cast_1         0
cast_2         0
cast_3         3
movie_url      0
imdb_id        0
dtype: int64

In [570]:
# saving the imdb_missing_df
filepath = Path('imdb_missing_df.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)
imdb_missing_df.to_csv(filepath, index=False)

In [580]:
# substituting missing values in imdb_df from imdb_missing_df
index = imdb_df[imdb_df['imdb_rating'].isna()].index
for i in range(0, len(imdb_missing_df)):    
    imdb_df[index[i]:index[i]+1]['imdb_rating'] = imdb_missing_df['imdb_rating'].iloc[i]
    imdb_df[index[i]:index[i]+1]['cast_1'] = imdb_missing_df['cast_1'].iloc[i]
    imdb_df[index[i]:index[i]+1]['cast_2'] = imdb_missing_df['cast_2'].iloc[i]
    imdb_df[index[i]:index[i]+1]['cast_3'] = imdb_missing_df['cast_3'].iloc[i]

C:\Users\Bosco\AppData\Local\Temp/ipykernel_6700/2661722492.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_df[index[i]:index[i]+1]['imdb_rating'] = imdb_missing_df['imdb_rating'].iloc[i]
C:\Users\Bosco\AppData\Local\Temp/ipykernel_6700/2661722492.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_df[index[i]:index[i]+1]['cast_1'] = imdb_missing_df['cast_1'].iloc[i]
C:\Users\Bosco\AppData\Local\Temp/ipykernel_6700/2661722492.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_df[index[i]:index[i]+1]['cast_2'] = imdb_missing_df['cast_2'].iloc[i]
C:\Users\Bosco\AppData\Local\Temp/ipykernel_6700/2661722492.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_df[index[i]:index[i]+1]['cast_3'] = imdb_missing_df['cast_3'].iloc[i]

In [589]:
# adding the movie_url and imdb_id to the imdb_df and saving it to a new dataframe
imdb_full_df = imdb_df.merge(imdb_missing_df, how='left', on=['title', 'imdb_rating', 'cast_1', 'cast_2', 'cast_3'])

In [646]:
# checking null values for imdb_full_df
imdb_full_df.isna().sum()

title             0
imdb_rating       0
cast_1            0
cast_2            0
cast_3            5
movie_url      3220
imdb_id        3220
dtype: int64

In [670]:
# fetching all imdb_id
for i in range(0, len(imdb_full_df)):
    if type(imdb_full_df['imdb_id'][i]) == float:
        try:
            movie = ia.search_movie(imdb_full_df['title'][i])[0]
            imdb_full_df['imdb_id'][i] = 'tt'+str(ia.get_imdbID(movie))
        except:
            imdb_full_df['imdb_id'][i] = np.nan

C:\Users\Bosco\AppData\Local\Temp/ipykernel_6700/2938924743.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_full_df['imdb_id'][i] = 'tt'+str(ia.get_imdbID(movie))
2022-03-06 19:21:18,854 CRITICAL [imdbpy] C:\Users\Bosco\anaconda3\envs\DA_ENV\lib\site-packages\imdb\_exceptions.py:32: IMDbParserError exception raised; args: ('invalid title: """"',); kwds: {}
NoneType: None
C:\Users\Bosco\AppData\Local\Temp/ipykernel_6700/2938924743.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_full_df['imdb_id'][i] = np.nan
2022-03-06 19:35:08,352 CRITICAL [imdbpy] C:\Users\Bosco\anaconda3\envs\DA_ENV\lib\site-packages\imdb\_exceptions.py:32: IMDbParserError exception raised; args: ('invalid title: """"',); kwds: {}
NoneType: None
2022-03-06 19:38:55,688 CRITICAL [imdbpy] C:\Users\Bosco\anaconda3\envs\DA_ENV\lib\site-packages\imdb\_exceptions.py:32: IMDbParserError exception raised; args: ('invalid title: """"',); kwds: {}
NoneType: None
2022-03-06 19:42:30,901 CRITICAL [imdbpy] C:\Users\Bosco\anaconda3\envs\DA_ENV\lib\site-packages\imdb\_exceptions.py:32: IMDbParserError exception raised; args: ('invalid title: """"',); kwds: {}
NoneType: None
2022-03-06 19:50:50,286 CRITICAL [imdbpy] C:\Users\Bosco\anaconda3\envs\DA_ENV\lib\site-packages\imdb\_exceptions.py:32: IMDbParserError exception raised; args: ('invalid title: """"',); kwds: {}
NoneType: None

In [710]:
# filling movie_url from imdb_db
for i in range(0, len(imdb_full_df)):
    if type(imdb_full_df['movie_url'][i]) == float:
        imdb_full_df['movie_url'][i] = 'https://www.imdb.com/title/'+imdb_full_df['imdb_id'][i]+'/'
    else:
        imdb_full_df['movie_url'][i] = imdb_full_df['movie_url'][i]

C:\Users\Bosco\AppData\Local\Temp/ipykernel_6700/388353747.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_full_df['movie_url'][i] = 'https://www.imdb.com/title/'+imdb_full_df['imdb_id'][i]+'/'
C:\Users\Bosco\AppData\Local\Temp/ipykernel_6700/388353747.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_full_df['movie_url'][i] = imdb_full_df['movie_url'][i]

In [793]:
imdb_rating_check = []
runtime = []
director = []
genre = []

In [795]:
print(datetime.now())
for i in range(0, 400):
    try:
        movie = ia.get_movie(imdb_full_df['imdb_id'][i].partition('tt')[-1])
        imdb_rating_check.append(movie.get('rating'))
        runtime.append(movie.get('runtimes'))
        genre.append(movie.get('genres'))
        director.append(str(movie.get('director')[0]))
    except:
        imdb_rating_check.append(np.nan)
        runtime.append(np.nan)
        genre.append(np.nan)
        director.append(np.nan)
print(datetime.now())

2022-03-07 01:33:17.997039
2022-03-07 02:00:44.644607

In [827]:
del genre[12]
del runtime[12]

In [826]:
genre[0:20]

0                    [Action, Adventure, Drama, Sci-Fi]
1                          [Action, Adventure, Fantasy]
2                           [Action, Adventure, Sci-Fi]
3                           [Action, Adventure, Sci-Fi]
4                           [Action, Adventure, Sci-Fi]
5                          [Action, Adventure, Fantasy]
6                  [Action, Adventure, Fantasy, Sci-Fi]
7                         [Action, Adventure, Thriller]
8                  [Action, Adventure, Fantasy, Sci-Fi]
9                           [Action, Adventure, Sci-Fi]
10                          [Action, Adventure, Sci-Fi]
11                          [Action, Adventure, Sci-Fi]
12                                  [Comedy, Talk-Show]
13       [Animation, Adventure, Drama, Family, Musical]
14    [Animation, Adventure, Comedy, Family, Fantasy...
15                          [Action, Adventure, Sci-Fi]
16                          [Action, Adventure, Sci-Fi]
17        [Action, Adventure, Family, Fantasy, Mystery]
18                                 [Adventure, Fantasy]
19                                 [Adventure, Fantasy]
dtype: object

In [828]:
imdb_rating_check[0:20]

0     8.4
1     6.6
2     7.3
3     7.9
4     8.5
5     7.1
6     6.1
7     6.8
8     6.5
9     6.9
10    6.6
11    6.5
12    8.5
13    7.8
14    6.3
15    7.8
16    7.6
17    7.8
18    7.4
19    6.6
dtype: float64

In [2136]:
imdb_full_df

,title,imdb_rating,cast_1,cast_2,cast_3,movie_url,imdb_id,director
0,Avengers: Endgame,8.4,Robert Downey Jr.,Chris Evans,Mark Ruffalo,https://www.imdb.com/title/tt4154796/,tt4154796,Anthony Russo
1,Pirates of the Caribbean: On Stranger Tides,6.6,Johnny Depp,PenÃ©lope Cruz,Ian McShane,https://www.imdb.com/title/tt1298650/,tt1298650,Rob Marshall
2,Avengers: Age of Ultron,7.3,Robert Downey Jr.,Chris Evans,Mark Ruffalo,https://www.imdb.com/title/tt2395427/,tt2395427,Joss Whedon
3,Star Wars Episode VII: The Force Awakens,7.9,Daisy Ridley,John Boyega,Oscar Isaac,https://www.imdb.com/title/tt2488496/,tt2488496,J.J. Abrams
4,Avengers: Infinity War,8.5,Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo,https://www.imdb.com/title/tt4154756/,tt4154756,Anthony Russo
...,...,...,...,...,...,...,...,...
3806,A Ghost Story,6.8,Casey Affleck,Rooney Mara,McColm Cephas Jr.,https://www.imdb.com/title/tt6265828/,tt6265828,David Lowery
3807,Super Size Me,7.2,Morgan Spurlock,Daryl Isaacs,Chemeeka Walker,https://www.imdb.com/title/tt0390521/,tt0390521,Morgan Spurlock
3808,Gabriela,4.8,Jaime Gomez,Seidy Lopez,Zach Galligan,https://www.imdb.com/title/tt0085575/,tt0085575,Bruno Barreto
3809,Dayereh,7.4,Maryiam Palvin Almani,Nargess Mamizadeh,Mojgan Faramarzi,https://www.imdb.com/title/tt0255094/,tt0255094,Jafar Panahi
3810,Primer,6.8,Shane Carruth,David Sullivan,Casey Gooden,https://www.imdb.com/title/tt0390384/,tt0390384,Shane Carruth

In [2129]:
imdb_full_df['movie_url'][3236] = 'https://www.imdb.com/title/'+imdb_full_df['imdb_id'][3236]+'/'

C:\Users\Bosco\AppData\Local\Temp/ipykernel_6700/190165946.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_full_df['movie_url'][3236] = 'https://www.imdb.com/title/'+imdb_full_df['imdb_id'][3236]+'/'

In [2128]:
imdb_full_df['imdb_id'][3270] = 'https://www.imdb.com/title/tt2205401/?ref_=nv_sr_srsg_0'

C:\Users\Bosco\AppData\Local\Temp/ipykernel_6700/2316765769.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_full_df['imdb_id'][3236] = 'tt8083606'

In [2131]:
imdb_full_df[3270:3280]

,title,imdb_rating,cast_1,cast_2,cast_3,movie_url,imdb_id,director
3270,Addicted,5.1,Sharon Leal,Boris Kodjoe,John Newberg,https://www.imdb.com/title/tt2205401/,tt2205401,Bille Woodruff
3271,O (Othello),6.1,Mekhi Phifer,Julia Stiles,Martin Sheen,https://www.imdb.com/title/tt0184791/,tt0184791,Tim Blake Nelson
3272,Spring Breakers,5.3,Vanessa Hudgens,Selena Gomez,Ashley Benson,https://www.imdb.com/title/tt2101441/,tt2101441,Harmony Korine
3273,It Comes at Night,6.2,Joel Edgerton,Christopher Abbott,Carmen Ejogo,https://www.imdb.com/title/tt4695012/,tt4695012,Trey Edward Shults
3274,Y Tu MamÃ¡ TambiÃ©n,7.7,Maribel VerdÃº,Gael GarcÃ­a Bernal,Daniel GimÃ©nez Cacho,https://www.imdb.com/title/tt0245574/,tt0245574,Alfonso CuarÃ³n
3275,Shaun of the Dead,7.9,Simon Pegg,Nick Frost,Kate Ashfield,https://www.imdb.com/title/tt0365748/,tt0365748,Edgar Wright
3276,The Haunting of Molly Hartley,3.9,Haley Bennett,Chace Crawford,Jake Weber,https://www.imdb.com/title/tt1045655/,tt1045655,Mickey Liddell
3277,Hillaryâ€™s America: The Secret History of the Deâ€¦,5.2,Dinesh D'Souza,Jonah Goldberg,David Guyette,https://www.imdb.com/title/tt5646136/,tt5646136,Dinesh D'Souza
3278,Before I Fall,6.4,Zoey Deutch,Halston Sage,Cynthy Wu,https://www.imdb.com/title/tt1691916/,tt1691916,Ry Russo-Young
3279,Sunshine Cleaning,6.8,Amy Adams,Emily Blunt,Alan Arkin,https://www.imdb.com/title/tt0862846/,tt0862846,Christine Jeffs

In [2132]:
imdb_full_df['imdb_rating'][3270] = 5.0

C:\Users\Bosco\AppData\Local\Temp/ipykernel_6700/2947562734.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_full_df['imdb_rating'][3270] = 5.0

In [2134]:
budget_df[budget_df['movie']=='The Awakening']

     release_date          movie   budget  domestic_gross  worldwide_gross
3333   2012-08-17  The Awakening  4900000           95933          6924321

In [2089]:
budget_df[3156:3158]

,release_date,movie,budget,domestic_gross,worldwide_gross
3156,2002-04-05,National Lampoonâ€™s Van Wilder,6000000,21305259,39241323
3157,2019-03-29,Unplanned,6000000,19005109,21294302

In [814]:
for i in range(0, len(imdb_full_df)):
    imdb_full_df['movie_url'][i] = 'https://www.imdb.com/title/'+imdb_full_df['imdb_id'][i]+'/'

C:\Users\Bosco\AppData\Local\Temp/ipykernel_6700/1345481087.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imdb_full_df['movie_url'][i] = 'https://www.imdb.com/title/'+imdb_full_df['imdb_id'][i]+'/'

In [ ]:
print(datetime.now())
for i in range(2000, len(imdb_full_df)):
    try:
        movie = ia.get_movie(imdb_full_df['imdb_id'][i].partition('tt')[-1])
        imdb_rating_check.append(movie.get('rating'))
        runtime.append(movie.get('runtimes'))
        genre.append(movie.get('genres'))
        director.append(str(movie.get('director')[0]))
    except:
        imdb_rating_check.append(np.nan)
        runtime.append(np.nan)
        genre.append(np.nan)
        director.append(np.nan)
print(datetime.now())

In [763]:
# creating a dataframe for extra data
imdb_extra_df = pd.DataFrame(columns=['rating_check', 'runtime', 'genre'])

In [792]:
imdb_rating_check.isna().sum()

126

In [822]:
imdb_rating_check = pd.Series(imdb_rating_check)
runtime = pd.Series(runtime)
director = pd.Series(director)
genre = pd.Series(genre)

In [772]:
imdb_extra_df['rating_check'] = imdb_rating_check
imdb_extra_df['runtime'] - runtime
imdb_extra_df['genre'] = genre

In [773]:
imdb_extra_df

      rating_check runtime                               genre
0              8.4     NaN  [Action, Adventure, Drama, Sci-Fi]
1              6.6     NaN        [Action, Adventure, Fantasy]
2              7.3     NaN         [Action, Adventure, Sci-Fi]
3              7.9     NaN         [Action, Adventure, Sci-Fi]
4              8.5     NaN         [Action, Adventure, Sci-Fi]
...            ...     ...                                 ...
3912           6.8     NaN           [Drama, Fantasy, Romance]
3913           7.2     NaN                       [Documentary]
3914           6.2     NaN            [Comedy, Drama, Romance]
3915           7.4     NaN                             [Drama]
3916           6.8     NaN           [Drama, Sci-Fi, Thriller]

[3917 rows x 3 columns]

In [2137]:
# merging the budget_df and imdb_full_df
imdb_raw_df = pd.concat([budget_df, imdb_full_df], axis=1)
imdb_raw_df

,release_date,movie,budget,domestic_gross,worldwide_gross,title,imdb_rating,cast_1,cast_2,cast_3,movie_url,imdb_id,director
0,2019-04-23,Avengers: Endgame,400000000,858373000,2797800564,Avengers: Endgame,8.4,Robert Downey Jr.,Chris Evans,Mark Ruffalo,https://www.imdb.com/title/tt4154796/,tt4154796,Anthony Russo
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,379000000,241071802,1045713802,Pirates of the Caribbean: On Stranger Tides,6.6,Johnny Depp,PenÃ©lope Cruz,Ian McShane,https://www.imdb.com/title/tt1298650/,tt1298650,Rob Marshall
2,2015-04-22,Avengers: Age of Ultron,365000000,459005868,1395316979,Avengers: Age of Ultron,7.3,Robert Downey Jr.,Chris Evans,Mark Ruffalo,https://www.imdb.com/title/tt2395427/,tt2395427,Joss Whedon
3,2015-12-16,Star Wars Episode VII: The Force Awakens,306000000,936662225,2064615817,Star Wars Episode VII: The Force Awakens,7.9,Daisy Ridley,John Boyega,Oscar Isaac,https://www.imdb.com/title/tt2488496/,tt2488496,J.J. Abrams
4,2018-04-25,Avengers: Infinity War,300000000,678815482,2048359754,Avengers: Infinity War,8.5,Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo,https://www.imdb.com/title/tt4154756/,tt4154756,Anthony Russo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3806,2017-07-07,A Ghost Story,100000,1594798,2769782,A Ghost Story,6.8,Casey Affleck,Rooney Mara,McColm Cephas Jr.,https://www.imdb.com/title/tt6265828/,tt6265828,David Lowery
3807,2004-05-07,Super Size Me,65000,11529368,22233808,Super Size Me,7.2,Morgan Spurlock,Daryl Isaacs,Chemeeka Walker,https://www.imdb.com/title/tt0390521/,tt0390521,Morgan Spurlock
3808,2001-03-16,Gabriela,50000,2335352,2335352,Gabriela,4.8,Jaime Gomez,Seidy Lopez,Zach Galligan,https://www.imdb.com/title/tt0085575/,tt0085575,Bruno Barreto
3809,2001-03-09,Dayereh,10000,673780,683509,Dayereh,7.4,Maryiam Palvin Almani,Nargess Mamizadeh,Mojgan Faramarzi,https://www.imdb.com/title/tt0255094/,tt0255094,Jafar Panahi
3810,2004-10-08,Primer,7000,424760,841926,Primer,6.8,Shane Carruth,David Sullivan,Casey Gooden,https://www.imdb.com/title/tt0390384/,tt0390384,Shane Carruth

In [2138]:
# dropping movies with duplicate title
imdb_raw_df.drop_duplicates(subset=['movie'],inplace=True)
imdb_raw_df

,release_date,movie,budget,domestic_gross,worldwide_gross,title,imdb_rating,cast_1,cast_2,cast_3,movie_url,imdb_id,director
0,2019-04-23,Avengers: Endgame,400000000,858373000,2797800564,Avengers: Endgame,8.4,Robert Downey Jr.,Chris Evans,Mark Ruffalo,https://www.imdb.com/title/tt4154796/,tt4154796,Anthony Russo
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,379000000,241071802,1045713802,Pirates of the Caribbean: On Stranger Tides,6.6,Johnny Depp,PenÃ©lope Cruz,Ian McShane,https://www.imdb.com/title/tt1298650/,tt1298650,Rob Marshall
2,2015-04-22,Avengers: Age of Ultron,365000000,459005868,1395316979,Avengers: Age of Ultron,7.3,Robert Downey Jr.,Chris Evans,Mark Ruffalo,https://www.imdb.com/title/tt2395427/,tt2395427,Joss Whedon
3,2015-12-16,Star Wars Episode VII: The Force Awakens,306000000,936662225,2064615817,Star Wars Episode VII: The Force Awakens,7.9,Daisy Ridley,John Boyega,Oscar Isaac,https://www.imdb.com/title/tt2488496/,tt2488496,J.J. Abrams
4,2018-04-25,Avengers: Infinity War,300000000,678815482,2048359754,Avengers: Infinity War,8.5,Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo,https://www.imdb.com/title/tt4154756/,tt4154756,Anthony Russo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3806,2017-07-07,A Ghost Story,100000,1594798,2769782,A Ghost Story,6.8,Casey Affleck,Rooney Mara,McColm Cephas Jr.,https://www.imdb.com/title/tt6265828/,tt6265828,David Lowery
3807,2004-05-07,Super Size Me,65000,11529368,22233808,Super Size Me,7.2,Morgan Spurlock,Daryl Isaacs,Chemeeka Walker,https://www.imdb.com/title/tt0390521/,tt0390521,Morgan Spurlock
3808,2001-03-16,Gabriela,50000,2335352,2335352,Gabriela,4.8,Jaime Gomez,Seidy Lopez,Zach Galligan,https://www.imdb.com/title/tt0085575/,tt0085575,Bruno Barreto
3809,2001-03-09,Dayereh,10000,673780,683509,Dayereh,7.4,Maryiam Palvin Almani,Nargess Mamizadeh,Mojgan Faramarzi,https://www.imdb.com/title/tt0255094/,tt0255094,Jafar Panahi
3810,2004-10-08,Primer,7000,424760,841926,Primer,6.8,Shane Carruth,David Sullivan,Casey Gooden,https://www.imdb.com/title/tt0390384/,tt0390384,Shane Carruth

In [2139]:
imdb_raw_df = imdb_raw_df[imdb_raw_df['budget']>=5000000]

In [2140]:
imdb_raw_df.reset_index(inplace=True)

In [2143]:
imdb_raw_df.drop(columns=['movie'], inplace=True)
imdb_raw_df

C:\Users\Bosco\anaconda3\envs\DA_ENV\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,release_date,budget,domestic_gross,worldwide_gross,title,imdb_rating,cast_1,cast_2,cast_3,movie_url,imdb_id,director
0,2019-04-23,400000000,858373000,2797800564,Avengers: Endgame,8.4,Robert Downey Jr.,Chris Evans,Mark Ruffalo,https://www.imdb.com/title/tt4154796/,tt4154796,Anthony Russo
1,2011-05-20,379000000,241071802,1045713802,Pirates of the Caribbean: On Stranger Tides,6.6,Johnny Depp,PenÃ©lope Cruz,Ian McShane,https://www.imdb.com/title/tt1298650/,tt1298650,Rob Marshall
2,2015-04-22,365000000,459005868,1395316979,Avengers: Age of Ultron,7.3,Robert Downey Jr.,Chris Evans,Mark Ruffalo,https://www.imdb.com/title/tt2395427/,tt2395427,Joss Whedon
3,2015-12-16,306000000,936662225,2064615817,Star Wars Episode VII: The Force Awakens,7.9,Daisy Ridley,John Boyega,Oscar Isaac,https://www.imdb.com/title/tt2488496/,tt2488496,J.J. Abrams
4,2018-04-25,300000000,678815482,2048359754,Avengers: Infinity War,8.5,Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo,https://www.imdb.com/title/tt4154756/,tt4154756,Anthony Russo
...,...,...,...,...,...,...,...,...,...,...,...,...
3309,2011-09-30,5000000,223838,5476793,Tucker & Dale vs. Evil,7.5,Tyler Labine,Alan Tudyk,Katrina Bowden,https://www.imdb.com/title/tt1465522/,tt1465522,Eli Craig
3310,2007-11-16,5000000,65388,861325,Redacted,6.1,Patrick Carroll,Rob Devaney,Izzy Diaz,https://www.imdb.com/title/tt0937237/,tt0937237,Brian De Palma
3311,2014-10-17,5000000,56001,584499,Rudderless,7.4,Billy Crudup,Anton Yelchin,Felicity Huffman,https://www.imdb.com/title/tt1798243/,tt1798243,William H. Macy
3312,2012-05-17,5000000,0,9109597,Mientras duermes,7.2,Luis Tosar,Marta Etura,Alberto San Juan,https://www.imdb.com/title/tt1437358/,tt1437358,Jaume BalaguerÃ³
3313,2009-07-07,5000000,0,4568257,Flying By,4.3,Billy Ray Cyrus,Heather Locklear,Patricia Neal,https://www.imdb.com/title/tt1131732/,tt1131732,Jim Amatulli

In [2144]:
# saving the imdb_raw_df
filepath = Path('imdb_raw_df.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)
imdb_raw_df.to_csv(filepath, index=False)

In [2145]:
# saving the imdb_full_df
filepath = Path('imdb_full_df.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)
imdb_full_df.to_csv(filepath, index=False)

In [777]:
# saving the imdb_extra_df
filepath = Path('imdb_extra_df.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)
imdb_extra_df.to_csv(filepath, index=False)

In [683]:
movie.infoset2keys

{'main': ['localized title',
  'cast',
  'genres',
  'runtimes',
  'countries',
  'country codes',
  'language codes',
  'color info',
  'aspect ratio',
  'sound mix',
  'box office',
  'certificates',
  'original air date',
  'rating',
  'votes',
  'cover url',
  'imdbID',
  'plot outline',
  'languages',
  'title',
  'year',
  'kind',
  'original title',
  'director',
  'writer',
  'producer',
  'composer',
  'cinematographer',
  'editor',
  'editorial department',
  'casting director',
  'production design',
  'art direction',
  'set decoration',
  'costume designer',
  'make up',
  'production manager',
  'assistant director',
  'art department',
  'sound crew',
  'special effects',
  'visual effects',
  'stunt performer',
  'camera and electrical department',
  'animation department',
  'casting department',
  'costume department',
  'location management',
  'music department',
  'script department',
  'transportation department',
  'miscellaneous crew',
  'thanks',
  'akas',
  'top 250 rank',
  'production companies',
  'distributors',
  'special effects companies',
  'other companies'],
 'plot': ['plot', 'synopsis']}

In [2147]:
merged_df = pd.read_csv('Merged_df.csv')

In [2149]:
Merged_df_corrected_scores = pd.read_csv('Merged_df_corrected_scores.csv', sep=';')

In [2153]:
merged_df['tomatometer_score'] = Merged_df_corrected_scores['tomatometer_score']
merged_df['audience_score_rt'] = Merged_df_corrected_scores['audience_score_rt']
merged_df['MPA_Ratings'] = Merged_df_corrected_scores['MPA_Ratings']

In [2156]:
merged_df.drop(columns=['producer', 'director_x', 'genre', 'movie', 'imdb_rating', 'cast_1', 'cast_2', 'cast_3', 'movie_url', 'imdb_id', 'director_y'], inplace=True)

In [2159]:
combined_df = pd.concat([merged_df, imdb_raw_df], axis=1)
combined_df

,title_x,tomatometer_score,audience_score_rt,original_language,MPA_Ratings,release_date_x,budget_x,domestic_gross_x,worldwide_gross_x,release_date,...,domestic_gross,worldwide_gross,title,imdb_rating,cast_1,cast_2,cast_3,movie_url,imdb_id,director
0,Avengers: Endgame,94.0,90.0,English,PG-13,2019-04-23,400000000,858373000,2797800564,2019-04-23,...,858373000,2797800564,Avengers: Endgame,8.4,Robert Downey Jr.,Chris Evans,Mark Ruffalo,https://www.imdb.com/title/tt4154796/,tt4154796,Anthony Russo
1,Pirates of the Caribbean: On Stranger Tides,33.0,54.0,English,PG-13,2011-05-20,379000000,241071802,1045713802,2011-05-20,...,241071802,1045713802,Pirates of the Caribbean: On Stranger Tides,6.6,Johnny Depp,PenÃ©lope Cruz,Ian McShane,https://www.imdb.com/title/tt1298650/,tt1298650,Rob Marshall
2,Avengers: Age of Ultron,76.0,83.0,English,PG-13,2015-04-22,365000000,459005868,1395316979,2015-04-22,...,459005868,1395316979,Avengers: Age of Ultron,7.3,Robert Downey Jr.,Chris Evans,Mark Ruffalo,https://www.imdb.com/title/tt2395427/,tt2395427,Joss Whedon
3,Star Wars Episode VII: The Force Awakens,93.0,85.0,English,PG-13,2015-12-16,306000000,936662225,2064615817,2015-12-16,...,936662225,2064615817,Star Wars Episode VII: The Force Awakens,7.9,Daisy Ridley,John Boyega,Oscar Isaac,https://www.imdb.com/title/tt2488496/,tt2488496,J.J. Abrams
4,Avengers: Infinity War,85.0,91.0,English,PG-13,2018-04-25,300000000,678815482,2048359754,2018-04-25,...,678815482,2048359754,Avengers: Infinity War,8.5,Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo,https://www.imdb.com/title/tt4154756/,tt4154756,Anthony Russo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3309,Tucker & Dale vs. Evil,85.0,85.0,English,R,2011-09-30,5000000,223838,5476793,2011-09-30,...,223838,5476793,Tucker & Dale vs. Evil,7.5,Tyler Labine,Alan Tudyk,Katrina Bowden,https://www.imdb.com/title/tt1465522/,tt1465522,Eli Craig
3310,Redacted,45.0,45.0,English,R,2007-11-16,5000000,65388,861325,2007-11-16,...,65388,861325,Redacted,6.1,Patrick Carroll,Rob Devaney,Izzy Diaz,https://www.imdb.com/title/tt0937237/,tt0937237,Brian De Palma
3311,Rudderless,64.0,83.0,English,R,2014-10-17,5000000,56001,584499,2014-10-17,...,56001,584499,Rudderless,7.4,Billy Crudup,Anton Yelchin,Felicity Huffman,https://www.imdb.com/title/tt1798243/,tt1798243,William H. Macy
3312,Mientras duermes,91.0,78.0,Jaume BalaguerÃ³,NaN,2012-05-17,5000000,0,9109597,2012-05-17,...,0,9109597,Mientras duermes,7.2,Luis Tosar,Marta Etura,Alberto San Juan,https://www.imdb.com/title/tt1437358/,tt1437358,Jaume BalaguerÃ³
3313,Flying By,NaN,18.0,Jim Amatulli,NaN,2009-07-07,5000000,0,4568257,2009-07-07,...,0,4568257,Flying By,4.3,Billy Ray Cyrus,Heather Locklear,Patricia Neal,https://www.imdb.com/title/tt1131732/,tt1131732,Jim Amatulli

In [2160]:
# saving the combined_df
filepath = Path('combined_df.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)
combined_df.to_csv(filepath, index=False)

In [2161]:
combined_df.isna().sum()

title_x                0
tomatometer_score     32
audience_score_rt     15
original_language     26
MPA_Ratings          155
release_date_x         0
budget_x               0
domestic_gross_x       0
worldwide_gross_x      0
release_date           0
budget                 0
domestic_gross         0
worldwide_gross        0
title                  0
imdb_rating            0
cast_1                 0
cast_2                 0
cast_3                 4
movie_url              0
imdb_id                0
director              92
dtype: int64

In [2151]:
Merged_df_corrected_scores

,title_x,tomatometer_score,audience_score_rt,producer,director_x,genre,original_language,MPA_Ratings,release_date_x,budget_x,domestic_gross_x,worldwide_gross_x,imdb_rating,cast_1,cast_2,cast_3,movie_url,imdb_id,director_y
0,Avengers: Endgame,94.0,90.0,Kevin Feige,"Anthony Russo, Joe Russo","Adventure, Sci-fi, Action, Fantasy",English,PG-13,23/04/19,400000000,858373000,2797800564,8.4,Robert Downey Jr.,Chris Evans,Mark Ruffalo,https://www.imdb.com/title/tt4154796/,tt4154796,Anthony Russo
1,Pirates of the Caribbean: On Stranger Tides,33.0,54.0,Jerry Bruckheimer,Rob Marshall,"Action, Adventure, Fantasy",English,PG-13,20/05/11,379000000,241071802,1045713802,6.6,Johnny Depp,PenâˆšÂ©lope Cruz,Ian McShane,https://www.imdb.com/title/tt1298650/,tt1298650,Rob Marshall
2,Avengers: Age of Ultron,76.0,83.0,Kevin Feige,Joss Whedon,"Sci-fi, Action, Adventure, Fantasy",English,PG-13,22/04/15,365000000,459005868,1395316979,7.3,Robert Downey Jr.,Chris Evans,Mark Ruffalo,https://www.imdb.com/title/tt2395427/,tt2395427,Joss Whedon
3,Star Wars Episode VII: The Force Awakens,93.0,85.0,"Kathleen Kennedy, J.J. Abrams, Bryan Burk",J.J. Abrams,"Sci-fi, Action, Adventure, Fantasy",English,PG-13,16/12/15,306000000,936662225,2064615817,7.9,Daisy Ridley,John Boyega,Oscar Isaac,https://www.imdb.com/title/tt2488496/,tt2488496,J.J. Abrams
4,Avengers: Infinity War,85.0,91.0,Kevin Feige,"Anthony Russo, Joe Russo","Sci-fi, Action, Adventure, Fantasy",English,PG-13,25/04/18,300000000,678815482,2048359754,8.5,Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo,https://www.imdb.com/title/tt4154756/,tt4154756,Anthony Russo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3309,Tucker & Dale vs. Evil,85.0,85.0,"Morgan Jurgenson, Albert Klychak",Eli Craig,"Horror, Comedy",English,R,30/09/11,5000000,223838,5476793,7.5,Tyler Labine,Alan Tudyk,Katrina Bowden,https://www.imdb.com/title/tt1465522/,tt1465522,Eli Craig
3310,Redacted,45.0,45.0,"Jennifer Weiss, Simone Urdl, Jason Kliot, Joan...",Brian De Palma,"War, Drama",English,R,16/11/07,5000000,65388,861325,6.1,Patrick Carroll,Rob Devaney,Izzy Diaz,https://www.imdb.com/title/tt0937237/,tt0937237,Brian De Palma
3311,Rudderless,64.0,83.0,"Keith Kjarval, Jeff Rice, Brad Greiner, Tyler ...",William H. Macy,Drama,English,R,17/10/14,5000000,56001,584499,7.4,Billy Crudup,Anton Yelchin,Felicity Huffman,https://www.imdb.com/title/tt1798243/,tt1798243,William H. Macy
3312,Mientras duermes,91.0,78.0,"Jul 1, 2014",Alberto Marini,NaN,Jaume Balaguerâˆšâ‰¥,NaN,17/05/12,5000000,0,9109597,7.2,Luis Tosar,Marta Etura,Alberto San Juan,https://www.imdb.com/title/tt1437358/,tt1437358,Jaume Balaguerâˆšâ‰¥
3313,Flying By,NaN,18.0,Jim Amatulli,"Eric Abrahamson, Jim Amatulli, Jonathan McHugh",Drama,English,NaN,07/07/09,5000000,0,4568257,4.3,Billy Ray Cyrus,Heather Locklear,Patricia Neal,https://www.imdb.com/title/tt1131732/,tt1131732,Jim Amatulli