In [5]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [12]:
budget_df = pd.read_csv('The_Numbers_data_cleaned_v2.csv')

In [13]:
budget_df

,INDEX,RELEASE DATE,MOVIE,BUDGET,DOMESTIC GROSS,WORLDWIDE GROSS
0,1,4/23/2019,Avengers: Endgame,"400,000,000","858,373,000","2,797,800,564"
1,2,5/20/2011,Pirates of the Caribbean: On Stranger Tides,"379,000,000","241,071,802","1,045,713,802"
2,3,4/22/2015,Avengers: Age of Ultron,"365,000,000","459,005,868","1,395,316,979"
3,4,12/16/2015,Star Wars Ep. VII: The Force Awakens,"306,000,000","936,662,225","2,064,615,817"
4,5,4/25/2018,Avengers: Infinity War,"300,000,000","678,815,482","2,048,359,754"
...,...,...,...,...,...,...
6222,6223,Unknown,Red 11,"7,000",0,0
6223,6224,4/2/1999,Following,"6,000","48,482","240,495"
6224,6225,7/13/2005,Return to the Land of Wonders,"5,000","1,338","1,338"
6225,6226,9/29/2015,A Plague So Pleasant,"1,400",0,0
6226,6227,8/5/2005,My Date With Drew,"1,100","181,041","181,041"