In [1]:
import pandas as pd
import numpy as np

In [3]:
# loading the imdb_full_info_df and inflation_date
imdb_full_info_df = pd.read_csv('imdb_full_info_df.csv')
star_df = pd.read_csv('Star_score.csv', sep=';')

In [8]:
star_df.Year.value_counts()

2018    610
2017    588
2016    587
2013    576
2014    575
2015    547
2012    538
2011    470
2010    432
2009    413
2004    401
2005    394
2003    382
2002    374
2008    373
2001    362
2006    359
2000    357
2007    329
Name: Year, dtype: int64

In [12]:
star_df[[(star_df['Star']=='Bruce Willis')&(star_df['Year']==2000)]]

KeyError: "None of [Index([(True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, ...)], dtype='object')] are in the [columns]"

In [13]:
star_df[(star_df['Star']=='Bruce Willis')]

      Rank          Star  Score  Nr. Movies  Billing  Year
0        1  Bruce Willis    493           8      1.3  2000
359      3  Bruce Willis    345           6      1.0  2001
730     12  Bruce Willis    235           5      1.2  2002
1218   126  Bruce Willis     88           3      1.3  2003
1749   275  Bruce Willis     40           2      1.5  2004
1932    57  Bruce Willis    140           3      5.0  2005
2338    69  Bruce Willis    117           4      5.3  2006
2642    14  Bruce Willis    216           6      4.0  2007
3015    58  Bruce Willis    114           4      2.5  2008
3371    41  Bruce Willis    151           3      1.3  2009
3826    83  Bruce Willis    116           3      1.0  2010
4266    91  Bruce Willis    116           3      1.0  2011
4730    85  Bruce Willis    124           4      1.0  2012
5197    14  Bruce Willis    267           5      1.2  2013
5771    12  Bruce Willis    267           5      1.2  2014
6355    21  Bruce Willis    207           3      1.3  2015