In [192]:
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter
import matplotlib.ticker as ticker
import seaborn as sns
%matplotlib inline
import pandas as pd
import numpy as np
import warnings

In [193]:
# loading the imdb_full_info_df
imdb_full_info_df = pd.read_csv('imdb_full_info_df.csv')

In [194]:
imdb_full_info_df.drop(columns=['release_date', 'domestic_gross', 'title', 'cast_1', 'cast_2', 'cast_3', 'movie_url', 'imdb_id', 'director', 'director.1','rating_check'], inplace=True)

In [195]:
# extracting runtime values
runtime = []
for i in imdb_full_info_df['runtime']:
    runtime.append(int(i[2:][:-2]))
    
imdb_full_info_df['runtime'] = runtime

In [196]:
# extracting genre
genre = []
for i in imdb_full_info_df['genre']:
    genre.append((i[2:][:-2]).replace("'","").replace(', ',','))
    
imdb_full_info_df['genre'] = genre

In [198]:
# finding unique values for genre
genre_cat = imdb_full_info_df['genre'].value_counts().reset_index()
genre_cat.head

<bound method NDFrame.head of                                      index  genre
0                     Comedy,Drama,Romance    130
1                           Comedy,Romance    121
2                                   Comedy    114
3                             Comedy,Drama    100
4                            Drama,Romance     80
..                                     ...    ...
758  Action,Drama,Fantasy,Thriller,Western      1
759             Action,Crime,Drama,Western      1
760           Drama,Fantasy,Romance,Sci-Fi      1
761   Crime,Drama,History,Mystery,Thriller      1
762                     Drama,Family,Music      1

[763 rows x 2 columns]>

In [199]:
genre_cat.rename(columns={'index':'genre_name', 'genre':'count'}, inplace=True)

In [200]:
genre_cat['genre_name'] = genre_cat['genre_name'].str.split(',')

In [203]:
df1 = []
for i in range(genre_cat.shape[0]):
    for j in genre_cat['genre_name'][i]:
        df1.append(j)

In [205]:
list1 = list(set(df1))
list1

['Musical',
 'Mystery',
 'Adventure',
 'Sci-Fi',
 'Fantasy',
 'Music',
 'Short',
 'Crime',
 'Horror',
 'Sport',
 'Thriller',
 'Animation',
 'Drama',
 'Comedy',
 'War',
 'Family',
 'Western',
 'History',
 'Documentary',
 'Biography',
 'Action',
 'Romance']

In [214]:
# creating a new dataframe with genre columns
df2 = pd.DataFrame(columns=list1)

In [218]:
# merging two dataframes
df3 = pd.concat([imdb_full_info_df, df2], axis=1)
df3

,budget,worldwide_gross,imdb_rating,runtime,genre,Musical,Mystery,Adventure,Sci-Fi,Fantasy,...,Drama,Comedy,War,Family,Western,History,Documentary,Biography,Action,Romance
0,400000000,2797800564,8.4,181,"Action,Adventure,Drama,Sci-Fi",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,379000000,1045713802,6.6,137,"Action,Adventure,Fantasy",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,365000000,1395316979,7.3,141,"Action,Adventure,Sci-Fi",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,306000000,2064615817,7.9,138,"Action,Adventure,Sci-Fi",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,300000000,2048359754,8.5,149,"Action,Adventure,Sci-Fi",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3309,5000000,5476793,7.5,89,"Comedy,Horror",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3310,5000000,861325,6.1,90,"Crime,Thriller,War",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3311,5000000,584499,7.4,105,"Comedy,Drama,Music",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3312,5000000,9109597,7.2,102,"Crime,Drama,Thriller",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3313,5000000,4568257,4.3,90,"Drama,Family,Music",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [219]:
df3

<class 'pandas.core.frame.DataFrame'>
Index: 3314 entries, 0 to 3313
Data columns (total 27 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   budget           3314 non-null   int64
 1   worldwide_gross  3314 non-null   int64
 2   imdb_rating      3314 non-null   float64
 3   runtime          3314 non-null   int64
 4   genre            3314 non-null   object
 5   Musical          0 non-null      object
 6   Mystery          0 non-null      object
 7   Adventure        0 non-null      object
 8   Sci-Fi           0 non-null      object
 9   Fantasy          0 non-null      object
 10  Music            0 non-null      object
 11  Short            0 non-null      object
 12  Crime            0 non-null      object
 13  Horror           0 non-null      object
 14  Sport            0 non-null      object
 15  Thriller         0 non-null      object
 16  Animation        0 non-null      object
 17  Drama            0 non-null      object
 18  Comedy           0 non-null      object
 19  War              0 non-null      object
 20  Family           0 non-null      object
 21  Western          0 non-null      object
 22  History          0 non-null      object
 23  Documentary      0 non-null      object
 24  Biography        0 non-null      object
 25  Action           0 non-null      object
 26  Romance          0 non-null      object
dtypes: float64(1), int64(3), object(23)
memory usage: 724.9+ KB

In [210]:
list1[2] in imdb_full_info_df['genre'][0]

True

In [88]:
x = imdb_full_info_df['genre'][0]

In [97]:
for i in imdb_full_info_df['genre']:
x.split(',')[2]

' Drama'

In [98]:
x.count(',')

3

In [99]:
len(x)

32

In [118]:
y = str()
for i in range(0,len(imdb_full_info_df['genre'])):
    if i == 0:
        y = imdb_full_info_df['genre'][i]
    else:
        y = y+', '+imdb_full_info_df['genre'][i]

In [110]:
genre_list[0]+', '+genre_list[1]

'Action, Adventure, Drama, Sci-Fi, Action, Adventure, Fantasy'

In [111]:
imdb_full_info_df['genre'][0]+', '+imdb_full_info_df['genre'][1]

'Action, Adventure, Drama, Sci-Fi, Action, Adventure, Fantasy'

In [129]:
y.Distinct()

AttributeError: 'str' object has no attribute 'Distinct'