In [81]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
from time import sleep
from random import randint
from datetime import datetime

In [82]:
# loading the data from The Numbers
the_numbers_df = pd.read_csv('The_Numbers_data_cleaned.csv')

In [83]:
the_numbers_df

,index,release_date,movie,budget,domestic_gross,worldwide_gross
0,1,4/23/2019,Avengers: Endgame,"400,000,000","858,373,000","2,797,800,564"
1,2,5/20/2011,Pirates of the Caribbean: On Stranger Tides,"379,000,000","241,071,802","1,045,713,802"
2,3,4/22/2015,Avengers: Age of Ultron,"365,000,000","459,005,868","1,395,316,979"
3,4,12/16/2015,Star Wars Episode VII: The Force Awakens,"306,000,000","936,662,225","2,064,615,817"
4,5,4/25/2018,Avengers: Infinity War,"300,000,000","678,815,482","2,048,359,754"
...,...,...,...,...,...,...
6222,6223,Unknown,Red 11,"7,000",0,0
6223,6224,4/2/1999,Following,"6,000","48,482","240,495"
6224,6225,7/13/2005,Return to the Land of Wonders,"5,000","1,338","1,338"
6225,6226,9/29/2015,A Plague So Pleasant,"1,400",0,0
6226,6227,8/5/2005,My Date With Drew,"1,100","181,041","181,041"

In [84]:
the_numbers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6227 entries, 0 to 6226
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            6227 non-null   int64
 1   release_date     6227 non-null   object
 2   movie            6227 non-null   object
 3   budget           6227 non-null   object
 4   domestic_gross   6227 non-null   object
 5   worldwide_gross  6227 non-null   object
dtypes: int64(1), object(5)
memory usage: 292.0+ KB

In [85]:
# changing release_date to datetime
the_numbers_df['release_date'] = pd.to_datetime(the_numbers_df['release_date'], errors ='coerce')

In [86]:
# converting columns to integer
the_numbers_df['budget'] = the_numbers_df['budget'].str.replace(',','').astype('int64')
the_numbers_df['domestic_gross'] = the_numbers_df['domestic_gross'].str.replace(',','').astype('int64')
the_numbers_df['worldwide_gross'] = the_numbers_df['worldwide_gross'].str.replace(',','').astype('int64')

In [87]:
the_numbers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6227 entries, 0 to 6226
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            6227 non-null   int64
 1   release_date     6112 non-null   datetime64[ns]
 2   movie            6227 non-null   object
 3   budget           6227 non-null   int64
 4   domestic_gross   6227 non-null   int64
 5   worldwide_gross  6227 non-null   int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 292.0+ KB

In [88]:
the_numbers_df.head()

,index,release_date,movie,budget,domestic_gross,worldwide_gross
0,1,2019-04-23,Avengers: Endgame,400000000,858373000,2797800564
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,379000000,241071802,1045713802
2,3,2015-04-22,Avengers: Age of Ultron,365000000,459005868,1395316979
3,4,2015-12-16,Star Wars Episode VII: The Force Awakens,306000000,936662225,2064615817
4,5,2018-04-25,Avengers: Infinity War,300000000,678815482,2048359754

In [89]:
# dropping nulls
the_numbers_df.dropna(inplace=True)

In [90]:
# filtering
# 1. release_date after 1999
# 2. release_date before 2020 (pre-pandemic)
# 3. worldwide_gross > $500,000
budget_df = the_numbers_df[(the_numbers_df['release_date']>='2000-01-01') & (the_numbers_df['release_date']<='2019-12-31') & (the_numbers_df['worldwide_gross']>=500000)]

In [91]:
budget_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3811 entries, 0 to 6219
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            3811 non-null   int64
 1   release_date     3811 non-null   datetime64[ns]
 2   movie            3811 non-null   object
 3   budget           3811 non-null   int64
 4   domestic_gross   3811 non-null   int64
 5   worldwide_gross  3811 non-null   int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 208.4+ KB

In [92]:
budget_df.reset_index(inplace=True)

In [93]:
budget_df

,level_0,index,release_date,movie,budget,domestic_gross,worldwide_gross
0,0,1,2019-04-23,Avengers: Endgame,400000000,858373000,2797800564
1,1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,379000000,241071802,1045713802
2,2,3,2015-04-22,Avengers: Age of Ultron,365000000,459005868,1395316979
3,3,4,2015-12-16,Star Wars Episode VII: The Force Awakens,306000000,936662225,2064615817
4,4,5,2018-04-25,Avengers: Infinity War,300000000,678815482,2048359754
...,...,...,...,...,...,...,...
3806,6119,6120,2017-07-07,A Ghost Story,100000,1594798,2769782
3807,6147,6148,2004-05-07,Super Size Me,65000,11529368,22233808
3808,6155,6156,2001-03-16,Gabriela,50000,2335352,2335352
3809,6210,6211,2001-03-09,Dayereh,10000,673780,683509
3810,6219,6220,2004-10-08,Primer,7000,424760,841926

In [94]:
# dropping index columns
budget_df.drop(['index', 'level_0'], axis=1, inplace=True)

C:\Users\Bosco\anaconda3\envs\DA_ENV\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [95]:
budget_df

,release_date,movie,budget,domestic_gross,worldwide_gross
0,2019-04-23,Avengers: Endgame,400000000,858373000,2797800564
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,379000000,241071802,1045713802
2,2015-04-22,Avengers: Age of Ultron,365000000,459005868,1395316979
3,2015-12-16,Star Wars Episode VII: The Force Awakens,306000000,936662225,2064615817
4,2018-04-25,Avengers: Infinity War,300000000,678815482,2048359754
...,...,...,...,...,...
3806,2017-07-07,A Ghost Story,100000,1594798,2769782
3807,2004-05-07,Super Size Me,65000,11529368,22233808
3808,2001-03-16,Gabriela,50000,2335352,2335352
3809,2001-03-09,Dayereh,10000,673780,683509
3810,2004-10-08,Primer,7000,424760,841926

In [96]:
imdb_rating = []
main_cast_1 = []
main_cast_2 = []
main_cast_3 = []

In [129]:
print(datetime.now())
for i in range(500,1500):
    # searching the movie on imdb
    search_url = 'https://www.imdb.com/search/title/?title=' +str(budget_df['movie'][i])+ '&title_type=feature&release_date=' +str(budget_df['release_date'][i].year)+'-01-01,' +str(budget_df['release_date'][i].year)+ '-12-31'
    response_search = requests.get(search_url)
    soup_search = BeautifulSoup(response_search.content, 'html.parser')
    
    try:
        # obtaining the movie page
        movie_url = 'http://imdb.com'+soup_search.select('h3 a')[0].get('href')
        response = requests.get(movie_url)
        soup = BeautifulSoup(response.content, 'html.parser')

        # adding rating to list
        try:
            rating = soup.select('span.AggregateRatingButton__RatingScore-sc-1ll29m0-1.iTLWoV')[0].get_text()
            imdb_rating.append(rating)
        except:
            imdb_rating.append(np.nan)

        # adding cast 1 to list
        try:
            cast1 = soup.select('div.PrincipalCredits__PrincipalCreditsPanelWideScreen-sc-hdn81t-0.hzbDAm> ul > li:nth-child(3) > div > ul > li:nth-child(1) > a')[0].get_text()
            main_cast_1.append(cast1)
        except:
            main_cast_1.append(np.nan)

        # adding cast 2 to list
        try:
            cast2 = soup.select('div.PrincipalCredits__PrincipalCreditsPanelWideScreen-sc-hdn81t-0.hzbDAm> ul > li:nth-child(3) > div > ul > li:nth-child(2) > a')[0].get_text()
            main_cast_2.append(cast2)
        except:
            main_cast_2.append(np.nan)

        # adding cast 3 to list
        try:
            cast3 = soup.select('div.PrincipalCredits__PrincipalCreditsPanelWideScreen-sc-hdn81t-0.hzbDAm> ul > li:nth-child(3) > div > ul > li:nth-child(3) > a')[0].get_text()
            main_cast_3.append(cast3)
        except:
            main_cast_3.append(np.nan)
            
    except:
        imdb_rating.append(np.nan)
        main_cast_1.append(np.nan)
        main_cast_2.append(np.nan)
        main_cast_3.append(np.nan)
    
    # adding sleep time
    wait_time = randint(1, 2)
    sleep(wait_time)
    
print(datetime.now())

2022-03-03 19:17:05.461145
2022-03-03 21:17:46.809574

In [130]:
budget_df[1498:1500]

,release_date,movie,budget,domestic_gross,worldwide_gross
1498,2004-04-30,Laws of Attraction,32000000,17848322,29939591
1499,2018-09-27,Bad Times at the El Royale,32000000,17839115,31178942

In [131]:
imdb_rating[1498:1500]

['5.8', '7.1']

In [132]:
main_cast_1[1498:1500]

['Pierce Brosnan', 'Jeff Bridges']

In [133]:
main_cast_2[1498:1500]

['Julianne Moore', 'Cynthia Erivo']

In [134]:
main_cast_3[1498:1500]

['Parker Posey', 'Dakota Johnson']

In [137]:
# creating a dataframe for crawled data
imdb_df = pd.DataFrame(columns=['title','imdb_rating','cast_1','cast_2','cast_3'])

In [138]:
imdb_df['title'] = budget_df['movie'][0:1500]

In [139]:
imdb_df['imdb_rating'] = imdb_rating
imdb_df['cast_1'] = main_cast_1
imdb_df['cast_2'] = main_cast_2
imdb_df['cast_3'] = main_cast_3

In [140]:
imdb_df

,title,imdb_rating,cast_1,cast_2,cast_3
0,Avengers: Endgame,8.4,Robert Downey Jr.,Chris Evans,Mark Ruffalo
1,Pirates of the Caribbean: On Stranger Tides,6.6,Johnny Depp,Penélope Cruz,Ian McShane
2,Avengers: Age of Ultron,7.3,Robert Downey Jr.,Chris Evans,Mark Ruffalo
3,Star Wars Episode VII: The Force Awakens,7.9,Daisy Ridley,John Boyega,Oscar Isaac
4,Avengers: Infinity War,8.5,Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo
...,...,...,...,...,...
1495,Bombshell,6.8,Charlize Theron,Nicole Kidman,Margot Robbie
1496,A History of Violence,7.4,Viggo Mortensen,Maria Bello,Ed Harris
1497,The Incredible Burt Wonderstone,5.9,Steve Carell,Luke Vanek,Steve Buscemi
1498,Laws of Attraction,5.8,Pierce Brosnan,Julianne Moore,Parker Posey
1499,Bad Times at the El Royale,7.1,Jeff Bridges,Cynthia Erivo,Dakota Johnson

In [141]:
# saving the dataframe to a csv
from pathlib import Path  
filepath = Path('imdb_df.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)
imdb_df.to_csv(filepath, index=False)